[Uint]
Description=A restful web service that serves data related to Trading Card Games
Wants=network.target
After=network.target

[Service]
Type=exec
User=tcgrws
Group=tcgrws
Environment="CONFIG_FILE=./tcgrws.service.d/Config-data.conf"
PassEnvironment="CONFIG_FILE"
ExecStart=/home/ec2-user/go/bin/tcgrws
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
